name: Run examples

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  run-examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.14"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uxsim and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Install pytest other dependencies
      run: |
        # Install optional packages required for these tests
        pip install gymnasium torch osmnx deap streamlit
    - name: Run examples with pytest
      run: pytest -n auto tests/test_examples.py --durations=0 -v