name: Run Notebooks demos

on: 
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  run-notebook-demos:
    runs-on: ubuntu-latest
    env:
      JUPYTER_PLATFORM_DIRS: 1
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Run tests
      run: pytest tests/test_notebook_demos.py --durations=0 -s -v