name: Test functions

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  test-functions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install uxsim and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Install pytest other dependencies
      run: pip install pytest pytest-rerunfailures pytest-xdist setuptools osmnx requests neatnet geopandas shapely
    - name: Run tests with pytest
      run: pytest -n auto tests/test_optional_functions_python313.py --durations=0 -v


