name: Test functions

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  test-functions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"
    - name: Install uxsim and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Install pytest other dependencies
      run: |
        # Install testing dependencies with compatible versions for parallel execution
        pip install osmnx requests
    - name: Run tests with pytest
      run: pytest -n auto tests/test_other_functions.py --durations=0 -v


