name: Test optional functions

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  test-optional-functions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install uxsim and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev,advanced,extra]
    - name: Run tests with pytest
      run: pytest -n auto tests/test_optional_functions_python313.py --durations=0 -v


